#about {
    background: linear-gradient(to right, #f8f8f8, #eaeaea);
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

#about h2 {
    font-size: 30px;
    color: #222;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: auto;
}
